<% if comment? commentable %>
  <div class="comment-form">
    <%= form_for([commentable, @comment],
        url: polymorphic_path([commentable, @comment], :commentable => commentable.class.to_s.underscore),
        :html => {:method => :post}) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :referrer, value: request.referer %>

      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>

      <% if update? @comment %>

        <div class="field">
          <%= f.label :approved, 'Approve?' %>
          <%= f.check_box :approved, checked: true %>
        </div>

      <% end %>

      <div class="actions">
        <%= f.submit 'Comment', class: 'button' %>
      </div>
    <% end %>
  </div>

<% else %>

  <div id="comment-login">
    <h3>Login to comment</h3>
    <%= link_to "Sign in with Twitter", omniauth_authorize_path(:user, :twitter) %>
  </div>

<% end %>
