<div id="project-form">
  <%= form_for(@project, remote: true) do |f| %>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :company, "Company" %>
      </div>
      <div class="columns large-8">
        <%= f.text_field :company %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :body, "Body" %>
      </div>
      <div class="columns large-8">
        <%= f.text_area :body, class: "big-textarea" %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :technologies, "Technologies" %>
      </div>
      <div class="columns large-8">
        <%= f.text_area :technologies, rows: 5 %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :lead_image, "Lead Image" %>
      </div>
      <div class="columns large-8">
        <%= f.text_field :lead_image %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :other_images, "Other Images" %>
      </div>
      <div class="columns large-8">
        <%= f.text_area :other_images, rows: 5 %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :quote, "Quote" %>
      </div>
      <div class="columns large-8">
        <%= f.text_area :quote, rows: 10 %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :quote_attr, "Quote Attribution" %>
      </div>
      <div class="columns large-8">
        <%= f.text_field :quote_attr %>
      </div>
    </div>
    <div class="field row">
      <div class="columns large-4">
        <%= f.label :weight, "Weight" %>
      </div>
      <div class="columns large-2 large-offset-6">
        <%= f.text_field :weight, value: 0 %>
      </div>
    </div>

    <% if publish? @project %>
      <div class="field row">
        <div class="columns large-4">
          <%= f.label :published, "Publish?" %>
        </div>
        <div class="columns large-2 large-offset-6">
          <%= f.check_box :published %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= submit_tag @project.id.nil? ? "Create Project" : 'Save', class: 'button' %>
    </div>
  <% end %>
</div>
