<article class="post <%= @post.published? ? "published" : "unpublished" %>">

  <header class="row">
    <div class="columns large-10">

      <h1><%= @post.title %></h1>

      <small>
        <em>By: <%= @post.author.username unless @post.author.nil? %></em> |
        Posted on <%= @post.created_at.strftime("%B %d, %Y") %>
        <% unless @post.published? %>
          |
          <b>Status:</b> <%= "Unpublished" %>
        <% end %>
      </small>
    </div>
  </header>

  <hr class="section-spacer">

  <section class="row">
    <div class="columns large-10">
      <%= markdown @post.body %>
    </div>
  </section>

  <hr class="section-spacer">

  <footer class="post-options row">
    <div class="columns">
      <ul class="inline-list">
        <% if update? @post %>
          <li><%= link_to 'Edit', edit_post_path(@post), class: 'button' %></li>
        <% end %>
        <% if destroy? @post %>
          <li><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %></li>
        <% end %>
        <li><%= link_to 'Back', posts_path, class: 'button' %></li>
      </ul>
    </div>
  </footer>

</article>
