<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="page">

      <div class="bck">
        <div class="row">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <!-- Title Area -->
              <li class="toggle-topbar menu-icon">
                <a href="#">
                  <span>Menu</span>
                </a>
              </li>
            </ul><!-- /.title-area -->

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="active"><a href="/">Home</a></li>
                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                <li><a href="<%= posts_path %>">Posts</a></li>
                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                <li><a href="<%= projects_path %>">Projects</a></li>
                <!--<li><i class="icon_divider  fi-asterisk size-12"></i></li>-->
                <!--<li><a href="services.html">Services</a></li>-->
                <!--<li><i class="icon_divider  fi-asterisk size-12"></i></li>-->
                <!--<li><a href="portfolio.html">Portfolio</a></li>-->
                <!--<li><i class="icon_divider  fi-asterisk size-12"></i></li>-->
                <!--<li><a href="contact.html">Contact</a></li>-->

              </ul><!-- /.right -->
            </section><!-- /.top-bar-section -->
          </nav> <!-- /.top-bar -->
        </div><!-- /.row -->
      </div><!-- /.bck -->
      <% if flash[:notice] %>
        <div class="row">
          <div class="columns notice">
            <div data-alert class="alert-box success radius">
              <%= flash[:notice] %>
              <a href="#" class="close">&times;</a>
            </div>
          </div>
        </div>
      <% end %>

      <hr class="section-spacer">

      <div class="main <%= (request.fullpath.parameterize.squish.size > 0 ? request.fullpath.parameterize.squish : 'home') %>">
        <%= yield %>
      </div>

        <!-- .share icons
        <section class="share_icons">
          <ul>
            <li><a href="#"><i class="fi-social-facebook size-36"></i></a></li>
            <li><a href="#"><i class="fi-social-twitter size-36"></i></a></li>
            <li><a href="#"><i class="fi-social-youtube size-36"></i></a></li>
            <li><a href="#"><i class="fi-social-instagram size-36"></i></a></li>
          </ul>
        </section> -->

      <!-- Footer -->
      <section class="footer">
          <div class="toTop"><i class="fi-arrow-up size-32"></i></div>
          <div class="row">
              <div class="large-12 columns">
                  2013 &copy; Monoma.
              </div><!-- /.large-12 columns -->
          </div><!-- /.row -->
      </section>
      <!-- / Footer -->

    </div>
  </body>
</html>
